<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>API - Documentation</title>
    <meta name="description" content="">
    <meta name="author" content="İsmet Kizgin">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500|Source+Code+Pro:300" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css" media="all">
    <script>hljs.initHighlightingOnLoad(); var path = window.location;</script>
</head>

<body>
    <div class="left-menu" id="mySidebar">
        <div class="content-logo">
            <img alt="platform by Emily van den Heever from the Noun Project"
                title="platform by Emily van den Heever from the Noun Project" src="../public/images/logo.png"
                height="32" />
            <span>API Documentation</span>
        </div>
        <div class="content-menu">
            <ul class="tab">
                <li class="tablinks active" onclick="openCity(event, 'London')">
                    <a>GET STARTED</a>
                </li>
                <li class="tablinks" onclick="openCity(event, 'xxx')">
                    <a>GET STARTED</a>
                </li>
            </ul>
        </div>
    </div>



    <div id="main">
        <div class="content-logo" id="header-response">
            <div class="slidbar-button">
                <a id="openNav" onclick="slideBar_open()" ><i class="fas fa-bars"></i></a>
            </div>
            <div class="header-logo">
                <img alt="platform by Emily van den Heever from the Noun Project"
                    title="platform by Emily van den Heever from the Noun Project" src="../public/images/logo.png"
                    height="32" />
                <span>API Documentation</span>
            </div>
        </div>

        <div class="content-page tabcontent" id="London" style="display: block;">
            <div class="content-code"></div>
            <div class="content">

                <div class="overflow-hidden content-section" id="content-get-started">
                    <h1 id="get-started">Get started</h1>
                    <pre>
                    API Domain
                    <script>document.write(path)</script>
                </pre>
                    <p>
                        Solver API provides access to solver algorithms.
                    </p>
                </div>

                <div class="overflow-hidden content-section" id="content-get-characters">
                    <h2 id="get-install">Installation Instructions</h2>
                    <pre><code class="bash">
#package install
$ npm install

#project build
$ npm build
                </code></pre>
                    <p>
                        Solver Api, install and compile project packages<br>
                    </p>
                    <br>


                </div>

                <div class="overflow-hidden content-section" id="content-get-characters">
                    <h2 id="get-countdown">Countdown Solver</h2>
                    <pre><code class="bash">
# Request Example
GET <script>document.write(path)</script>countdownsolver/[2,4,5,7,5,50]/425
                </code></pre>
                    <p>
                        For the countdown solver, you need to make a GET call to the URL below :<br>
                        <code
                            class="higlighted"><script>document.write(path)</script>countdownsolver/[2,4,5,7,5,50]/425</code>
                    </p>
                    <br>
                    <pre><code class="json">
Result example:
{
    "result": "50 * 4 * 2 = 400\n5 * 5 = 25\n400 + 25 = 425\n",
    "score": 9
}
                </code></pre>

                </div>

                <div class="overflow-hidden content-section" id="content-get-characters">
                    <h2 id="get-word">Word Solver</h2>
                    <pre><code class="bash">
# Request Example
GET <script>document.write(path)</script>wordsolver/[m, e, k, t, u, a,g, y] 
                </code></pre>
                    <p>
                        For the word solver, you need to make a GET call to the URL below :<br>
                        <code
                            class="higlighted"><script>document.write(path)</script>wordsolver/[m, e, k, t, u, a,g, y]</code>
                    </p>
                    <br>
                    <pre><code class="json">
Result example:
{
    "word": "MUKTEZA",
    "score": 9
}
                </code></pre>

                </div>
            </div>
            <div class="content-code"></div>
        </div>

        <div class="content-page tabcontent" id="xxx">
            <div class="content-code"></div>
            <div class="content">

                <div class="overflow-hidden content-section" id="content-get-started">
                    <h1 id="get-started">Get xxxxstarted</h1>
                    <pre>
                    API Domain
                    <script>document.write(path)</script>
                </pre>
                    <p>
                        Solver API provides access to solver algorithms.
                    </p>
                </div>

                <div class="overflow-hidden content-section" id="content-get-characters">
                    <h2 id="get-install">Installation Instructions</h2>
                    <pre><code class="bash">
#package install
$ npm install

#project build
$ npm build
                </code></pre>
                    <p>
                        Solver Api, install and compile project packages<br>
                    </p>
                    <br>
                    <pre><code class="json">

                </code></pre>

                </div>

                <div class="overflow-hidden content-section" id="content-get-characters">
                    <h2 id="get-countdown">Countdown Solver</h2>
                    <pre><code class="bash">
# Request Example
GET <script>document.write(path)</script>countdownsolver/[2,4,5,7,5,50]/425
                </code></pre>
                    <p>
                        For the countdown solver, you need to make a GET call to the URL below :<br>
                        <code
                            class="higlighted"><script>document.write(path)</script>countdownsolver/[2,4,5,7,5,50]/425</code>
                    </p>
                    <br>
                    <pre><code class="json">
Result example:
{
    "result": "50 * 4 * 2 = 400\n5 * 5 = 25\n400 + 25 = 425\n",
    "score": 9
}
                </code></pre>

                </div>

                <div class="overflow-hidden content-section" id="content-get-characters">
                    <h2 id="get-word">Word Solver</h2>
                    <pre><code class="bash">
# Request Example
GET <script>document.write(path)</script>wordsolver/[m, e, k, t, u, a,g, y] 
                </code></pre>
                    <p>
                        For the word solver, you need to make a GET call to the URL below :<br>
                        <code
                            class="higlighted"><script>document.write(path)</script>wordsolver/[m, e, k, t, u, a,g, y]</code>
                    </p>
                    <br>
                    <pre><code class="json">
Result example:
{
    "word": "MUKTEZA",
    "score": 9
}
                </code></pre>

                </div>
            </div>
            <div class="content-code"></div>
        </div>

    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="../public/js/script.js"></script>
</body>

</html>