<div class="content-page tabcontent" id="tabAuth">
	<div class="content-code"></div>
	<div class="content">
		<div class="overflow-hidden content-section">
			<h1>Auth Transacsions</h1>
			<p>The user performs the login, sign up and account delete operations with the following examples.</p>
		</div>
		<div class="overflow-hidden content-section">
			<h2>Login</h2>
			<pre><code>
#Request Example
POST <url id="path">login</url>
{
    "UserIdentityNo": 1234569902,
    "UserPassword": "testpassword"
}
        
Result Example:
{
    "result": {
        "UserID": 23,
        "UserFirstName": "Ailem",
        "UserLastName": "Güvende",
        "UserIdentityNo": 12345678901
        "UserEmail": "info@ailemguvende.com",
        "UserPhone": "0(555) 555 55 55",
        "UserStatusName": "User"
    },
    "token": "secretToken"
}
        </code></pre>
			<p>For the user login, you need to make a POST call to the URL below :
				<br>
				<code class="higlighted" id="path">login</code>
			</p>
		</div>
		<div class="overflow-hidden content-section">
			<h2>Sign Up</h2>
			<pre><code>
#Request Example
POST <url id="path">sign-up</url>
{
    "UserFirstName": "Ailem",
    "UserLastName": "Güvende",
    "UserIdentityNo": 12345678901,
    "UserEmail": "info@ailemguvende.com",
    "UserPhone": "0(555) 555 55 55",
    "UserPassword": "testpasword",
    "UserStatusID": 2
}
        
Reusult Example:
{
    "message": "User registration has taken place."
}
        </code></pre>
			<p>For the sign up transaction, you need to make a POST call to the URL below :
				<br>
				<code class="higlighted" id="path">sign-up</code>
			</p>
		</div>
		<div class="overflow-hidden content-section">
			<h2>Delete My Account</h2>
			<pre><code>
#Request Example
DELETE <url id="path">delete-my-account</url>
{
    "UserIdentityNo": 12345678901
}
        
Reusult Example:
{
    "message": "User deletion has occurred."
}
        </code></pre>
			<p>For the delete my account transaction, you need to make a DELETE call to the URL below :
				<br>
				<code class="higlighted" id="path">delete-my-account</code>
			</p>
		</div>
	</div>
	<div class="content-code"></div>
</div>
